<div class="border-4 border-gray-900">
	<div
		class="flex flex-row px-5 py-3 justify-between items-center text-2xl bg-gray-900 text-gray-300"
	>
		<h3>
			<a href="/post/{{id}}">
				{{title}}
			</a>
		</h3>
		<span class="text-lg">
			Posted by
			{{user.username}}
			on
			{{format_date createdAt}}
		</span>
	</div>
	<div class="px-5 py-3 text-xl">
		{{content}}
	</div>
</div>
